<launch>
    <node pkg="teleo_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find yh_turtle)/rviz/scan.rviz" />
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch" />
    <node pkg="rosbag" type="record" name="record" args="-o $(find yh_turtle)/data/scan /scan" output="screen" />
</launch>